@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

@section Css{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
}
<h1>Kategoriler</h1>

<p>
    <a asp-action="Create">Yeni Kategori</a>
</p>
<table id="categoryList" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <form asp-action="Delete" method="POST" style="display: inline;">
                        <input type="hidden" name="categoryId" value="@item.Id">
                        <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#categoryList').DataTable();
        } );
    </script>
}
